.find-icons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
  cursor: pointer;
}

.find-icons__icon i {
  font-size: 30px;
  padding-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}
.find-icons__icon:hover i {
  transform: translateY(1px);
}
.find-screen__title {
  font-family: "Racing Sans One", cursive;
  color: black;
}
.find-screen__subtitle {
  color: var(--main-color);
  cursor: pointer;
}

.find-screen__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
}

.find-screen__contents span {
  background: rgb(255, 229, 240);
  background: linear-gradient(
    221deg,
    rgba(255, 229, 240, 0.6) 0%,
    rgba(0, 95, 255, 0.6) 100%
  );
  padding: 5px 10px;
  border-radius: 40px;
}

.find-screen__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65px;
}

.find-screen__column h2 {
  font-size: 16px;
  color: black;
}

.find-screen__hashtag {
  text-transform: uppercase;
}
.find-screen__chatroom {
  display: flex;
  align-items: center;
}
.find-screen__chatroom span {
  padding-left: 5px;
}

.find-screen__row--pic-xs {
  object-fit: cover;
  object-position: 100% 0;
  height: 20px;
  width: 20px;
  border-radius: 40%;
}

.find-screen__active {
  color: var(--color-shade);
}

.find-screen__row--pic-lg {
  object-fit: cover;
  object-position: 100% 0;
  height: 90px;
  width: 90px;
  border-radius: 10%;
}

.find-screen__favorite {
  right: 5px;
  bottom: 10px;
}
.find-screen__column,
.find-screen__row--pic-lg,
.find-screen__favorite {
  cursor: pointer;
}
.find-screen__favorite i {
  padding-right: 3px;
  font-size: 12px;
  transition: color 0.3s ease-in-out;
}
.find-screen__favorite:hover i {
  color: tomato;
}
