#friends-display-link {
  display: block;
  text-align: center;
  background-color: var(--color-shade);
  padding: 15px;
  margin-bottom: 15px;
}

#friends-display-link i {
  color: black;
  margin-left: 10px;
}

.friends-screen__channel {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-top: var(--border-default);
}

.friends-screen__channel-header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  color: black;
  font-family: "Racing Sans One", cursive;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes largerScreen {
  0% {
    opacity: 1;
    color: var(--main-color);
    transform: rotateZ(0) scale(100%);
  }
  40% {
    opacity: 0.8;
    color: var(--color-shade);
    transform: rotateZ(-90deg) scale(60%);
  }
  100% {
    opacity: 0;
    color: var(--sub-color);
    transform: rotateZ(180deg) scale(300%);
  }
}

#splash-screen {
  background: no-repeat
    url("https://i.pinimg.com/564x/60/b5/c3/60b5c35ae3483e75c1916b173caf190f.jpg");
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 95px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen i {
  color: black;
  opacity: 1;
  animation: largerScreen 0.4s ease-in-out forwards;
  animation-delay: 0.8s;
}
