.abbr-header__title {
  font-size: 20px;
}

.abbr-header__column {
  width: 33%;
}

.abbr-header__column:first-child {
  margin-right: auto;
}
.abbr-header__column:nth-child(2) {
  text-align: center;
}
.abbr-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.abbr-header__column:last-child i {
  margin-left: 10px;
}
.abbr-header__column i:hover {
  cursor: pointer;
  color: var(--main-color);
}
