.badge {
  background-color: var(--color-shade);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  /* text attributes */
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
}
.badge-number {
  background-color: var(--color-shade);
  border-radius: 40px;
  padding: 3px 7px;
  color: black;
  font-weight: 600;
  font-size: 14px;
}
.badge-number--none {
  opacity: 0;
}

.badge-small {
  background-color: var(--color-shade);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  position: absolute;
}

.badge-favorite {
  background-color: rgb(54, 54, 54);
  color: white;
  padding: 3px 6px;
  border-radius: 12px;
  height: max-content;
  width: max-content;
  opacity: 0.6;
  font-size: 12px;
  display: flex;
  align-items: center;
  position: absolute;
}

.badge-exclamation {
  color: var(--color-shade);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.badge-new {
  background-color: var(--color-shade);
  width: 10px;
  height: 10px;
  padding: 3px 3px;
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* text attributes */
  color: aliceblue;
  font-weight: 600;
  font-size: 7px;
}
