.nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: white;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: none;
  border-top: 1px solid black;
}

.nav__link {
  position: relative;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__btn i {
  color: black;
}
.nav__btn a:hover i {
  color: var(--main-color);
  transition: color 0.2s ease-in-out;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }

  30% {
    transform: translateY(-2px) scale(110%);
  }
  40% {
    transform: none scale(100%);
  }
  60% {
    transform: translateY(2px) scale(90%);
  }
  80% {
    transform: translateY(2px) scale(90%);
  }
  100% {
    transform: none scale(100%);
  }
}

.nav__notification {
  /* box attributes */
  position: absolute;
  top: -13px;
  right: -13px;
  will-change: transform;
  animation: notificationAnimation 1.5s ease-in-out infinite;
}

.nav__btn a:hover .nav__notification {
  animation: none;
}

.nav__update {
  top: -8px;
  right: -8px;
}

.nav__link i {
  font-size: 25px;
}
